body {
  font-family: $font-family-body;
  color: $color-c;
  font-size: 14px;
}
* {
  @include box-sizing;
}
a {
  @include transition(all 400ms);
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    color: $color-primary;
    text-decoration: none;
  }
  &:focus {
    color: $color-primary;
    text-decoration: none;
  }
}
h1, h2, h3, h4, h5, h5, h6 {
  font-family: $font-family-w6;
}
img {
  max-width: 100%;
}
li,ol {
  list-style: none;
}
button, input, a, .btn {
  &:focus {
    outline: none;
  }
}
.bootstrap-select {
  .btn:focus {
    outline: none !important;
  }
}