@charset "UTF-8";
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

a img {
  border: none;
}

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "AvenirNext-Bold";
  src: url(asset-path("fonts/AvenirNextLTPro-Bold.eot"));
  src: url(asset-path("fonts/AvenirNextLTPro-Bold.woff")) format("woff"), url(asset-path("fonts/AvenirNextLTPro-Bold.ttf")) format("truetype"), url(asset-path("fonts/AvenirNextLTPro-Bold.svg")) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futura-medium";
  src: url(asset-path("fonts/futura-medium.eot"));
  src: url(asset-path("fonts/futura-medium.woff")) format("woff"), url(asset-path("assets/fonts/futura-medium.ttf")) format("truetype"), url(asset-path("fonts/futura-medium.svg")) format("svg");
  font-weight: normal;
  font-style: normal;
}

.container::after, #header .nav::after, .list-project::after {
  clear: both;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
}

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", sans-serif;
  color: #000000;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: #ff730e;
  text-decoration: none;
}

a:focus {
  color: #ff730e;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-family: "ヒラギノ角ゴ Pro W6", HiraKakuPro-W6, Arial, "メイリオ", sans-serif;
}

img {
  max-width: 100%;
}

li, ol {
  list-style: none;
}

button:focus, input:focus, a:focus, .btn:focus {
  outline: none;
}

.bootstrap-select .btn:focus {
  outline: none !important;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

#header {
  position: relative;
  width: 100%;
}

#header .header-top {
  height: 43px;
  line-height: 43px;
  float: left;
  background: #333333;
  width: 100%;
}

#header .header-top .top-left {
  float: left;
}

#header .header-top .top-right {
  float: right;
}

#header .header-top .top-right a {
  background: #CC0000;
  padding: 8px 10px;
}

#header .header-top a {
  color: #ffffff;
}

#header .logo {
  background: url("../images/background-head.png") center;
}

#header .logo .logo-left {
  float: left;
}

#header .logo .logo-right {
  float: right;
}

#header .clear {
  clear: both;
}

#header .nav {
  position: relative;
  width: 100%;
  height: 46px;
  line-height: 46px;
  color: #ffffff;
  background: #CC0000;
}

#header .nav .main-menu {
  text-transform: uppercase;
}

#header .nav .main-menu ul > li > a {
  float: left;
  border-left: 1px solid #bc0a0a;
  padding: 0 20px;
}

#header .nav .main-menu ul > li > a:hover {
  color: #FFF;
}

#header .nav .main-menu ul > li > a:last-child {
  border-right: 1px solid #bc0a0a;
}

#header .nav .select-language {
  text-transform: uppercase;
}

#header .nav .select-language ul > li > a {
  float: right;
  border-left: 1px solid #bc0a0a;
  padding: 0 20px;
}

#header .nav .select-language ul > li > a:hover {
  color: #FFF;
}

#header .nav .select-language ul > li > a:last-child {
  border-right: 1px solid #bc0a0a;
}

.is_active {
  display: block;
}

.is_hidden {
  display: none;
}

.is_mobile {
  display: none;
}

.dis_table {
  display: table;
  width: 100%;
  height: 100%;
}

.dis_row {
  display: table-row;
}

.dis_cell {
  display: table-cell;
  vertical-align: middle;
}

.mgn_right_10 {
  margin-right: 10px;
}

.mgn_right_15 {
  margin-right: 15px;
}

.mgn_right_20 {
  margin-right: 20px;
}

.mgn_right_30 {
  margin-right: 30px;
}

.mgn_right_35 {
  margin-right: 35px;
}

.mgn_right_40 {
  margin-right: 40px;
}

.mgn_right_50 {
  margin-right: 50px;
}

.align_right {
  text-align: right;
}

.align_left {
  text-align: left;
}

.float_left {
  float: left;
}

.float_right {
  float: right !important;
}

.title-section {
  font-weight: bold;
  padding: 40px 0 25px 0;
  text-transform: uppercase;
  font-size: 25px;
}

.title-section span {
  color: #CC0000;
}

.title-section .more a {
  float: right;
  text-transform: none;
  font-size: 14px;
  color: #333333;
}

.title-section .more a:hover {
  color: #CC0000;
}

.name {
  padding: 50px;
}

.name a {
  text-align: justify;
  font-weight: bold;
}

.name a:hover {
  color: #CC0000;
}

.list-project {
  margin: 0 -15px;
}

.list-project .item-project {
  width: 25%;
  padding: 0 15px;
  float: left;
}

.field-work {
  background: url("../images/background-section.png") center;
}
