.is_active {
  display: block;
}
.is_hidden {
  display: none;
}
.is_mobile {
  display: none;
}
.dis_table {
  display: table;
  width: 100%;
  height: 100%;
}
.dis_row {
  display: table-row;
}
.dis_cell {
  display: table-cell;
  vertical-align: middle;
}
.mgn_tb_10{
  margin: 10px 0px;
}
.mgn_right_10 {
  margin-right: 10px;
}
.mgn_right_15 {
  margin-right: 15px;
}
.mgn_right_20 {
  margin-right: 20px;
}
.mgn_right_30 {
  margin-right: 30px;
}
.mgn_right_35 {
  margin-right: 35px;
}
.mgn_right_40 {
  margin-right: 40px;
}
.mgn_right_50 {
  margin-right: 50px;
}
.align_right {
  text-align: right;
}
.align_left {
  text-align: left;
}
.align_center{
  text-align: center;
}

.float_left{
  float: left;
}
.float_right{
  float: right!important;
}

.brd_none{
  border:none!important;
}
